/**{
    margin: 0;
    padding: 0;
}*/
body{
    background-color: pink;
}

.container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ; /* or we use repeat(3, 1fr) this time we can allso use px or rem
    */
    gap: 10px;
}

.para{
    padding: 1rem;
    background-color: green;
    color: whitesmoke;
}